.option {
    background-image: url(option\ wood.jfif);
    width: 200px;
    height: 200px;
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/Tiki_Tropic.ttf);
 }
 
 * {
    font-family: myFirstFont;
 }

nav {
	background-image: url(images/wood.jfif);
	border: 5px solid #63492b;
  border-radius: 25px;
  display: inline-flex;
  justify-content: center;
 }
 
img {
    width: 200px;
}

body {
    background-image: url("images/background.jpg");
}


#sun-safe {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#title {
    padding-top: 60px;
    padding-bottom: 60px;
    color: aquamarine;
    text-align: center;
}


#nav_options {
    display: inline-flex;
    color: white;
    flex-direction: row;
}

#cancer_types_button #cancer_types_description {
  display: none;
}

#cancer_types_button:hover #cancer_types_description {
  display: block;
}


#home_button #home_description {
  display: none;
}

#home_button:hover #home_description {
  display: block;
}

#how_to_stay_safe_button #how_to_stay_safe_description {
  display: none;
}

#how_to_stay_safe_button:hover #how_to_stay_safe_description {
  display: block;
}

#quiz_button #quiz_description {
  display: none;
}

#quiz_button:hover #quiz_description {
  display: block;
}

#sources_button #sources_description {
  display: none;
}

#sources_button:hover #sources_description {
  display: block;
}

#plug {
    background-color: white;
    border: 10px solid black;
}

#plug:hover {
    background-color: black;
    border-color: white;
    color: white;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  border:10px solid brown;
  margin-top: 250px;
  margin-bottom: 250px;
  background-image: url(images/option_wood.jfif);
  color: white;
  font-size: x-large;
}

#cancer-types {
  display: inline;
}

.cancer-type {
  background-image: url(images/option_wood.jfif);
  border-radius: 25px;
  margin: 50px;
  color: white;
  -webkit-text-stroke: thin goldenrod;
  font-size: larger;
  border: 5px solid black;
}

.cancer-description {
  display: none;
  background-color: #603b26;
}


#how-to-stay-safe {
  background-image: url(images/wood.jfif);
  border-radius: 25px;
  margin: 50px;
  color: white;
  -webkit-text-stroke: thin goldenrod;
  font-size: larger;
  border: 5px solid black;
}


a {
  background-color: white;
}


#actual_sources {
  background-image: url(images/option_wood.jfif);
  border-radius: 25px;
  margin: 50px;
  color: white;
  -webkit-text-stroke: thin goldenrod;
  font-size: larger;
  border: 5px solid black;
}


#sources {
  background-image: url(images/option_wood.jfif);
  border-radius: 25px;
  margin: 50px;
  color: white;
  -webkit-text-stroke: thin goldenrod;
  font-size: larger;
  border: 5px solid black;
}